html {
    height: 100%;
    width: 100%;
  }
  
  .row{
    margin:5px;
  }
  .button{
    border:1px solid black;
    border-radius: 5px;
    margin: 1px;
    padding: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  .input{
   border:1px solid black;
   border-radius: 5px;
   padding: 5px 10px;
    width:230px;
  }
  